.dark{
    width: 1344px;
    height: 912px;
    background-color: black;
    opacity: .5;
    position: absolute;
    top:0px;
    left:0px;
    z-index: 200;
    cursor: default;
}    
.shares {
    height: 300px;
    width: 500px;
    background-color: #ffffff;
    border-radius: 50px;
    position: relative;
    top: 200px;
    left: 420px;
    padding: 0px;
    margin: 0px;
    z-index: 201;
}
.shareon {
    display: flex;
    flex-direction: column;
    align-items:center;
    position: relative;
    top: 30px;
    color: #41ABCE;
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    margin: 0px;
    padding: 0px;
    /* justify-content: space-around; */

}

.cir {
    height: 60px;
    width: 60px;
    background-image: url(../imgs/Untitled2.jpg);
    background-size: 152px;
    border-radius: 90px;
    background-position-x: 105px;
    background-position-y: 101px;
    position: fixed;
    top: 20px;
    left: 20px;
    border: 0px #ef9273 solid;
}
/* .upp {
    height: 40px;
    width: 40px;
    background-image: url(../imgs/user\ p.p..png) ;
    background-size: 40px ;
    position: absolute;
    top: 35px;
    left: 35px;
} */

body {
    /* background-image: linear-gradient(to left, #703bbb 0%, #91eaff 100%); */
    background-color: #fef9f8;
}


.square {
    height: 50px;
    width: 780px;
    background-color: #fef9f8;
    border-radius: 0 0 90px 0;
    position: fixed;
    top: -10px;
    left: 220px;
    border-bottom: 2px #ef9273 solid;
    z-index: 10;
    /* border-right: 3px #ef9273 solid; */
}

.aside {
    height: 900px;
    width: 160px;
    background-color: #fef9f8;
    position: fixed;
    left: 0px;
    top: 107px;
    border-right: 2px #ef9273 solid;
}
.minis {
    height: 70px;
    width: 160px;
    background-color: #fef9f8;
    position: fixed;
    top: 104px;
    left: 162px;
}

.minis2 {
    height: 70px;
    width: 130px;
    background-color: #fef9f8;
    position: fixed;
    top: 42px;
    left: 223px;
}

.minic {
    height: 120px;
    width: 120px;
    background-color: #fef9f8;
    position: fixed;
    top: 40px;
    left: 160px;
    border-radius: 100px;
    border: 2px #ef9273 solid;
}

.wel {
    font-family: 'Roboto Condensed', sans-serif;;
    color: #0d0d0d;
    font-size: 170px;
    cursor: default;
    position: absolute;
    top: -70px;
    left: 400px;
}

.ur {
    font-size: 40px;
    color: #0d0d0d;
    font-family: 'Noto Sans', sans-serif;
    line-height: 125%;
    position: absolute;
    top: 260px;
    left: 480px;
}


.pic {
    background-image: url(../imgs/jingyy.png);
    height: 400px;
    width: 552px;
    background-size: 600px;
    position: absolute;
    top: 408px;
    left: 400px;
}

.topm {
    position: fixed;
    top: 7px;
    left: 390px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    align-content: center;
    gap: 50px;
    z-index: 11;
}

.topm5 ,
.topm1 {

        text-decoration: none;
}

.aside10 {
    position: fixed;
    top: 130px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-around;
    align-content: space-around;
    gap: 70px;
}

.asideg2 {
    color: #A5E9FF;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
.asides2 {
    color: #A5E9FF;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
.aside2 {
    text-decoration: none;
}
.aside4 {

    text-decoration: none;
}
.aside5 {

    text-decoration: none;
}


.topm1 ,
.topm2 ,
.topm3 ,
.topm4 ,
.topm5 ,
.aside1 ,
.aside2 ,
.aside3 ,
.aside4 ,
.aside5 {
    color: #0d0d0d;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    transition: 0.3s;
    cursor: pointer;
}
.upload {
    color: #fef9f8;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}
.upload {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ef9273;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
}

.enter1 {
    height: 100px;
    width: 370px;
    position: relative;
    top: 860px;
    left: 540px;
    border-radius: 0px;
    padding:0px;
    z-index: 100;
}
.enter {
    color: #fef9f8;
    font-family: 'Noto Sans', sans-serif;
    font-size: 112px;
    letter-spacing: -10px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: -40px;
    left: 65px;
    /* z-index: 101; */
    transition: width 2s;
}
.tri {
    height: 0px;
    width: 10px;
    position: absolute;
    border-top: 40px transparent solid;
    border-right: 40px transparent solid;
    border-bottom: 40px transparent solid;
    border-left: 50px #fef9f8 solid;
    top: 0px;
    left: 16px;
    size: 0px;
    padding: 0px;
    margin: 0px;
}

.logo {
    height: 45px;
    width: 45px;
    background-image: url(../imgs/Logoy-01.png);
    background-size: 45px;
    position: absolute;
    top: 05px;
    left: 1280px;
}



.pr1 ,
.pr2 ,
.pr3 ,
.pr4 ,
.pr5 ,
.pr6 ,
.pr7 ,
.pr8 ,
.pr9 ,
.pr10 ,
.pr11 ,
.pr12 {
    height: 200px;
    width: 200px;
    border-color: #41ABCE;
    border-width: 2px;
    border-style: solid;
    border-radius: 25px;
}

.pr {
    position: absolute;
    top: 130px;
    left: 170px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    align-content: center;
    gap: 100px 40px;
}
.pp1 {
    color: #41ABCE;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 215px;
    left: 5px;
}
/* a:hover {
    color: #ef9273;
} */

/* .line {
    position: absolute;
    top: 50px;
    height: 1px;
    background-image: linear-gradient(
    90deg,rgba(0,0,0,0.00) 0%,#000000 50%,rgba(0,0,0,0.00) 100%);
    opacity: .1;
    width: 100%;
} */
.san {
    width: 76px;
    height: 80px;
    background: #0d0d0d;
    transition: width 1s;
    position: absolute;
    top: 830px;
    left: 560px;
}
  
.san:hover {
    width: 314px;
}

.div {
        padding: 1em;
        border: 1px solid transparent;
        border-radius: 10px;
        width: fit-content;
        transition: 0.5s;
        position: absolute;
        top: 180px;
}
.div:hover {
    box-shadow: 0 0 3px black;
    margin-top: -10px;
  }
.aside1:hover ,
.aside2:hover ,
.aside3:hover ,
.aside4:hover ,
.aside5:hover {
    margin-left: 10px;
    color: #ef9273;
}
.topm1:hover ,
.topm2:hover ,
.topm3:hover ,
.topm4:hover ,
.topm5:hover {
    margin-top: -10px;
    color: #ef9273;
}
.contenerpp {
    width: 250px;
    height: 300px;
    position: relative;
    top: 100px;
    left: 250px;
    z-index: 100;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
}
.darks {
    width: 250px;
    height: 250px;
    background-color: black;
    z-index: 11;
    position: absolute;
    top: 0px;
    border-radius:20px ;
    opacity: 30%;
}
.bigprofilepic {
    width: 250px;
    height: 250px;
    background-image: url(../imgs/Untitled2.jpg);
    background-size: 540px;
    background-position-x: -150px;
    /* position: absolute; */
    /* top: 0px;
    left: 0px; */
    border-radius: 20px;
    padding: 0px;
    margin: 0px;
    z-index: 10;
}
.bigprofilepic1 {
    width: 250px;
    height: 250px;
    background-image: url(../imgs/Untitled2.jpg);
    background-size: 540px;
    background-position-x: -150px;
    /* position: absolute; */
    /* top: 0px;
    left: 0px; */
    border-radius: 9999px;
    padding: 0px;
    margin: 0px;
    Z-INDEX: 999;
    position: absolute;
    top: 0px;
}
.nameofuser {
        color: #0d0d0d;
        font-family: 'Noto Sans', sans-serif;
        font-size: 18px;
        margin: 0px;
        padding: 0px;
        transition: 0.3s;
        cursor: default;
    /* position: absolute;
    /* left: 0px; */
    /* text-align: center; */
    /* top: 370; */
}
.detailsofuser {
    padding: 0px;
    margin: 0px;
    color: #0d0d0da8;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 3px
}
input[type=text] {
    width: 220px;
    height: 50px;
    margin: 0px 0px -5px;
    padding: 20px 0px 0px 0px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ef9273;
    position: absolute;
    background:transparent;
    font-size: 18px;
    /* border-radius: 5px; */
    /* top: 250px;
    left: 580px; */
}
input[type=email] {
    width: 500px;
    height: 50px;
    margin: 0px 0px -5px;
    padding: 20px 0px 0px 0px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ef9273;
    position: absolute;
    background:transparent;
    font-size: 18px;
    /* top: 250px;
    left: 580px; */
}
input[type=password] {
    width: 500px;
    height: 50px;
    margin: 0px 0px -5px;
    padding: 20px 0px 0px 0px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ef9273;
    position: absolute;
    background:transparent;
    font-size: 18px;
    /* top: 250px;
    left: 580px; */
}
.fnamel {
    position: absolute;
    top: 110px;
    left: 860px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}
.lnamel {
    position: absolute;
    top: 110px;
    left: 580px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}
.email {
    position: absolute;
    top: 235px;
    left: 580px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}
.password {
    position: absolute;
    top: 360px;
    left: 580px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}
#fname {
    position: absolute;
    top: 120px;
    left: 860px;
}
#lname {
    position: absolute;
    top: 120px;
    left: 580px;
}
#email {
    position: absolute;
    top: 245px;
    left: 580px;
}
#password {
    position: absolute;
    top: 370px;
    left: 580px;
}
#fname:focus, textarea:focus, select:focus{
     outline: none;
}
#lname:focus, textarea:focus, select:focus{
     outline: none;
}
#email:focus, textarea:focus, select:focus{
     outline: none;
}
#password:focus, textarea:focus, select:focus{
     outline: none;
}
  /* .form {
      position: absolute;
      top: 100px;
      left: 560px;
  } */
  /* #lname {
    position: absolute;
    top: 100px;
    left: 880px;
} */
