.dark{
    width: 1344px;
    height: 912px;
    background-color: black;
    opacity: .5;
    position: absolute;
    top:0px;
    left:0px;
    z-index: 200;
    cursor: default;
}    
.shares {
    height: 300px;
    width: 500px;
    background-color: #F2F2F2;
    border-radius: 50px;
    position: relative;
    top: 200px;
    left: 420px;
    padding: 0px;
    margin: 0px;
    z-index: 201;
}
.shareon {
    display: flex;
    flex-direction: column;
    align-items:center;
    position: relative;
    top: 30px;
    color: #41ABCE;
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    margin: 0px;
    padding: 0px;
    /* justify-content: space-around; */

}

.cir {
    height: 60px;
    width: 60px;
    background-image: url(../imgs/Untitled.png);
    background-size: 120px;
    border-radius: 90px;
    background-position-x: 71px;
    background-position-y: 73px;
    position: fixed;
    top: 20px;
    left: 20px;
    border: 0px #ef9273 solid;
}
/* .upp {
    height: 40px;
    width: 40px;
    background-image: url(../imgs/user\ p.p..png) ;
    background-size: 40px ;
    position: absolute;
    top: 35px;
    left: 35px;
} */

body {
    /* background-image: linear-gradient(to left, #703bbb 0%, #91eaff 100%); */
    background-color: #fef9f8;
}


.square {
    height: 50px;
    width: 780px;
    background-color: #fef9f8;
    border-radius: 0 0 90px 0;
    position: fixed;
    top: -10px;
    left: 220px;
    border-bottom: 2px #ef9273 solid;
    z-index: 10;
    /* border-right: 3px #ef9273 solid; */
}

.aside {
    height: 900px;
    width: 160px;
    background-color: #fef9f8;
    position: fixed;
    left: 0px;
    top: 107px;
    border-right: 2px #ef9273 solid;
}
.minis {
    height: 70px;
    width: 160px;
    background-color: #fef9f8;
    position: fixed;
    top: 104px;
    left: 162px;
}

.minis2 {
    height: 70px;
    width: 130px;
    background-color: #fef9f8;
    position: fixed;
    top: 42px;
    left: 223px;
}

.minic {
    height: 120px;
    width: 120px;
    background-color: #fef9f8;
    position: fixed;
    top: 40px;
    left: 160px;
    border-radius: 100px;
    border: 2px #ef9273 solid;
}

.wel {
    font-family: 'Roboto Condensed', sans-serif;;
    color: #0d0d0d;
    font-size: 170px;
    cursor: default;
    position: absolute;
    top: -70px;
    left: 400px;
}

.ur {
    font-size: 40px;
    color: #0d0d0d;
    font-family: 'Noto Sans', sans-serif;
    line-height: 125%;
    position: absolute;
    top: 260px;
    left: 480px;
}


.pic {
    background-image: url(../imgs/jingyy.png);
    height: 400px;
    width: 552px;
    background-size: 600px;
    position: absolute;
    top: 408px;
    left: 400px;
}

.topm {
    position: fixed;
    top: 7px;
    left: 390px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    align-content: center;
    gap: 50px;
    z-index: 11;
}

.topm5 ,
.topm1 {

        text-decoration: none;
}

.aside10 {
    position: fixed;
    top: 130px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-around;
    align-content: space-around;
    gap: 70px;
}

.asideg2 {
    color: #A5E9FF;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
.asides2 {
    color: #A5E9FF;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
.aside2 {
    text-decoration: none;
}
.aside4 {

    text-decoration: none;
}
.aside5 {

    text-decoration: none;
}


.topm1 ,
.topm2 ,
.topm3 ,
.topm4 ,
.topm5 ,
.aside1 ,
.aside2 ,
.aside3 ,
.aside4 ,
.aside5 {
    color: #0d0d0d;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}
.upload {
    color: #fef9f8;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}
.upload {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ef9273;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
}

.enter1 {
    height: 100px;
    width: 370px;
    position: relative;
    top: 860px;
    left: 540px;
    border-radius: 0px;
    padding:0px;
    z-index: 100;
}
.enter {
    color: #0d0d0d;
    font-family: 'Noto Sans', sans-serif;
    font-size: 120px;
    letter-spacing: -10px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: -58px;
    left: 20px;
    z-index: 101;
}
.tri {
    height: 0px;
    width: 10px;
    position: absolute;
    border-top: 40px transparent solid;
    border-right: 40px transparent solid;
    border-bottom: 40px transparent solid;
    border-left: 50px #0d0d0d solid;
    top: -5px;
    left: 287px;
    size: 0px;
    padding: 0px;
    margin: 0px;
}

.logo {
    height: 45px;
    width: 45px;
    background-image: url(../imgs/Logoy-01.png);
    background-size: 45px;
    position: absolute;
    top: 05px;
    left: 1280px;
}



.pr1 ,
.pr2 ,
.pr3 ,
.pr4 ,
.pr5 ,
.pr6 ,
.pr7 ,
.pr8 ,
.pr9 ,
.pr10 ,
.pr11 ,
.pr12 {
    height: 200px;
    width: 200px;
    border-color: #41ABCE;
    border-width: 2px;
    border-style: solid;
    border-radius: 25px;
}

.pr {
    position: absolute;
    top: 130px;
    left: 170px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    align-content: center;
    gap: 100px 40px;
}
.pp1 {
    color: #41ABCE;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 215px;
    left: 5px;
}
a:hover ,
.enter:hover,
.tri:hover {
    color: #ef9273;
}

/* .line {
    position: absolute;
    top: 50px;
    height: 1px;
    background-image: linear-gradient(
    90deg,rgba(0,0,0,0.00) 0%,#000000 50%,rgba(0,0,0,0.00) 100%);
    opacity: .1;
    width: 100%;
} */